# ignore content generation
content/

# ignore admin
admin/

# ignore data
data/ 

# ignore env
envs/

# ignore some materials subfolders
materials/

# ignore syllabus
syllabus/

# ignore rawtextbook
textbook_src/

.ipynb_checkpoints/
.Rhistory
.Rproj.user/
__pycache__/
*.log
